In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file = "netflix_data.csv"
df = pd.read_csv(csv_file)
df.head()

        Date  High   Low  Open  Close     Volume
0  5/23/2002  1.24  1.15  1.16   1.20  104790000
1  5/24/2002  1.23  1.20  1.21   1.21   11104800
2  5/28/2002  1.23  1.16  1.21   1.16    6609400
3  5/29/2002  1.16  1.09  1.16   1.10    6757800
4  5/30/2002  1.11  1.07  1.11   1.07   10154200

In [4]:
database_path = "netflix_db.sqlite"
engine = create_engine(f"sqlite:///{database_path}")

In [5]:
df.to_sql(name='netflix', con=engine, if_exists='append', index=False)

In [6]:
engine.table_names()

C:\Users\jimmy\AppData\Local\Temp/ipykernel_19344/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['netflix']

In [7]:
pd.read_sql_query('select * from netflix limit 50', con=engine).head()

        Date  High   Low  Open  Close     Volume
0  5/23/2002  1.24  1.15  1.16   1.20  104790000
1  5/24/2002  1.23  1.20  1.21   1.21   11104800
2  5/28/2002  1.23  1.16  1.21   1.16    6609400
3  5/29/2002  1.16  1.09  1.16   1.10    6757800
4  5/30/2002  1.11  1.07  1.11   1.07   10154200

In [8]:
import csv 
import json 

def csv_to_json(csvFilePath, jsonFilePath):
    jsonArray = []
      
    #read csv file
    with open(csvFilePath, encoding='utf-8') as csvf: 
        #load csv file data using csv library's dictionary reader
        csvReader = csv.DictReader(csvf) 

        #convert each csv row into python dict
        for row in csvReader: 
            #add this python dict to json array
            jsonArray.append(row)
  
    #convert python jsonArray to JSON String and write to file
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf: 
        jsonString = json.dumps(jsonArray, indent=4)
        jsonf.write(jsonString)
          
csvFilePath = r'netflix_data.csv'
jsonFilePath = r'netflix_data.json'
csv_to_json(csvFilePath, jsonFilePath)