In [6]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.1-cp36-cp36m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.1

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
stocks_df = pd.read_csv("netflix_data.csv")

In [3]:
stocks_df.head()

        Date  High   Low  Open  Close     Volume
0  5/23/2002  1.24  1.15  1.16   1.20  104790000
1  5/24/2002  1.23  1.20  1.21   1.21   11104800
2  5/28/2002  1.23  1.16  1.21   1.16    6609400
3  5/29/2002  1.16  1.09  1.16   1.10    6757800
4  5/30/2002  1.11  1.07  1.11   1.07   10154200

In [4]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4881 non-null   object
 1   High    4881 non-null   float64
 2   Low     4881 non-null   float64
 3   Open    4881 non-null   float64
 4   Close   4881 non-null   float64
 5   Volume  4881 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 228.9+ KB

In [7]:
#created a connection string to PostgresSQL 
connection_string = "postgres:Baseball123!@localhost:5432/netflix_db"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
stocks_df.to_sql(name = 'stock_price', con = engine, index=False)